:root {
    --gridColumns: 4;
    --gridRows: 4;
    --randomizedColor: rgba(255, 255, 255, 0.5);
}

body, body * {
    font-family: Arial, sans-serif;
    background-color: rgb(200, 200, 200);
}

#mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 20px;
}

#resetBtn {
    position: relative;
    width: 700px;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: rgb(0, 255, 255);
    background-color: rgb(0, 150, 0);
    border: 6px solid rgb(30, 30, 30);
    white-space: nowrap;
}

#resetBtn:hover {
    background-color: rgb(220, 0, 0);
}

#mainGridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    grid-template-rows: repeat(var(--gridRows), 1fr);
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    border: 5px solid rgb(0, 50, 255);
}

.gridElement {
    min-width: 1px;
    min-height: 1px;
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(150, 150, 150, 0.3);
}

.hoverColor {
    background-color: rgb(150, 100, 255, 0.5);
}

.randomColor {
    background-color: var(--randomizedColor);
}